*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* ===== ОСНОВНОЙ КОНТЕНТ ===== */
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end; 
  gap: 29px; 
  width: 1140px; 
}

/* ===== СЕКЦИЯ РЕЗУЛЬТАТОВ (ВИДЕО И ФОРМА) ===== */
.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 456px;
}

/* Контейнер видео */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Форма поиска */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 711px;
  height: 54px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Поле "Город" */
.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 4px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 0 2px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Поле "Время суток" */
.search-form__fieldset:nth-of-type(2) {
  width: 212px;
  height: 49px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Кнопка "Найти" */
.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0;
  appearance: none;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px; 
}

/* ===== СЕКЦИЯ ДЕТАЛЕЙ (КАРТОЧКИ) ===== */
.content__details {
  width: 100%;
  max-width: 399px;
  height: 100%;
  max-height: 534px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding: 0 2px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: grid; 
  width: 100%;
  height: 298px;
  overflow: auto;
  position: relative;
  gap: 30px;
  padding: 0 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 191px; 
  padding: 2px 0 0 0px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 190px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

/* Кнопка "Показать еще" */
.more-button {
  width: 100%;
  height: 34px;
  margin: 2px 0;
}

/* ===== КУРСОРЫ ===== */
.search-form__label,
.button,
.content__card-link {
  cursor: pointer;
}